@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #2a0b4c !important;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root,
[data-testid="root"] {
  background-color: #2a0b4c !important;
  height: 100%;
  width: 100%;
}

/* Force transparency on default React Native Web containers */
div[style*="background-color: rgb(242, 242, 242)"],
div[style*="background-color: #f2f2f2"],
div[style*="background-color: rgb(255, 255, 255)"],
div[style*="background-color: white"] {
  background-color: transparent !important;
}
